In [1]:
import pandas as pd
import os

In [2]:
data_path = "../data/KuaiRec/data/"
os.listdir(data_path)

['item_daily_features.csv',
 'item_categories.csv',
 'user_features.csv',
 'small_matrix.csv',
 'social_network.csv',
 'big_matrix.csv']

In [3]:
small_matrix = pd.read_csv(data_path + "small_matrix.csv")
item_daily_features = pd.read_csv(data_path + "item_daily_features.csv")
user_features = pd.read_csv(data_path + "user_features.csv")

In [4]:
print(f"small_matrix.shape = {small_matrix.shape}")
small_matrix.head()

small_matrix.shape = (4676570, 8)

,user_id,video_id,play_duration,video_duration,time,date,timestamp,watch_ratio
0,14,148,4381,6067,2020-07-05 05:27:48.378,20200705.0,1.593898e+09,0.722103
1,14,183,11635,6100,2020-07-05 05:28:00.057,20200705.0,1.593898e+09,1.907377
2,14,3649,22422,10867,2020-07-05 05:29:09.479,20200705.0,1.593898e+09,2.063311
3,14,5262,4479,7908,2020-07-05 05:30:43.285,20200705.0,1.593898e+09,0.566388
4,14,8234,4602,11000,2020-07-05 05:35:43.459,20200705.0,1.593899e+09,0.418364

In [5]:
small_matrix = small_matrix[["user_id", "video_id", "date", "watch_ratio"]]

In [6]:
print(f"item_daily_features.shape={item_daily_features.shape}")
item_daily_features.head()

item_daily_features.shape=(343341, 58)

,video_id,date,author_id,video_type,upload_dt,upload_type,visible_status,video_duration,video_width,video_height,...,download_cnt,download_user_num,report_cnt,report_user_num,reduce_similar_cnt,reduce_similar_user_num,collect_cnt,collect_user_num,cancel_collect_cnt,cancel_collect_user_num
0,0,20200705,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,8,8,0,0,3,3,NaN,NaN,NaN,NaN
1,0,20200706,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,0,0,5,5,NaN,NaN,NaN,NaN
2,0,20200707,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,0,0,0,0,NaN,NaN,NaN,NaN
3,0,20200708,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,3,3,0,0,3,3,NaN,NaN,NaN,NaN
4,0,20200709,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,2,1,1,1,NaN,NaN,NaN,NaN

In [7]:
print(f"user_features.shape={user_features.shape}")
user_features.head()

user_features.shape=(7176, 31)

,user_id,user_active_degree,is_lowactive_period,is_live_streamer,is_video_author,follow_user_num,follow_user_num_range,fans_user_num,fans_user_num_range,friend_user_num,...,onehot_feat8,onehot_feat9,onehot_feat10,onehot_feat11,onehot_feat12,onehot_feat13,onehot_feat14,onehot_feat15,onehot_feat16,onehot_feat17
0,0,high_active,0,0,0,5,"(0,10]",0,0,0,...,184,6,3,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,full_active,0,0,0,386,"(250,500]",4,"[1,10)",2,...,186,6,2,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,full_active,0,0,0,27,"(10,50]",0,0,0,...,51,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,full_active,0,0,0,16,"(10,50]",0,0,0,...,251,3,2,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,full_active,0,0,0,122,"(100,150]",4,"[1,10)",0,...,99,4,2,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
interaction_with_item_features = pd.merge(left=small_matrix, right=item_daily_features, how='left', on=['video_id', 'date'])
dataset_full = pd.merge(left=interaction_with_item_features, right=user_features, how='left', on='user_id')

In [9]:
train_data = dataset_full[dataset_full.date < 20200820].drop(columns=['date']).dropna().sample(frac=0.1)

In [10]:
print(f"train_data.shape={train_data.shape}")
train_data.head()

train_data.shape=(171570, 89)

,user_id,video_id,watch_ratio,author_id,video_type,upload_dt,upload_type,visible_status,video_duration,video_width,...,onehot_feat8,onehot_feat9,onehot_feat10,onehot_feat11,onehot_feat12,onehot_feat13,onehot_feat14,onehot_feat15,onehot_feat16,onehot_feat17
1510803,2358,6259,0.843941,1482.0,NORMAL,2020-08-15,ShortImport,public,10465.0,720.0,...,197,5,3,0,0.0,0.0,1.0,0.0,0.0,0.0
501997,860,4082,0.632017,5648.0,NORMAL,2020-07-24,ShortImport,public,10100.0,720.0,...,10,1,4,0,0.0,0.0,0.0,0.0,0.0,0.0
1457513,2269,10138,1.449810,6358.0,NORMAL,2020-08-03,ShortImport,public,6066.0,720.0,...,290,6,2,0,1.0,0.0,0.0,1.0,0.0,0.0
397072,709,7721,0.531222,4884.0,NORMAL,2020-08-14,ShortImport,public,16766.0,719.0,...,58,5,2,0,0.0,0.0,0.0,0.0,0.0,0.0
1364193,2138,9945,0.456901,811.0,NORMAL,2020-07-26,ShortImport,public,17250.0,720.0,...,10,1,4,0,0.0,1.0,1.0,0.0,0.0,0.0

In [11]:
item_num_cols = [
    'video_duration',
    'show_cnt',
    'show_user_num',
    'play_cnt',
    'play_user_num',
]
item_int_cate_cols = [
    'video_id',
    'video_width',
    'video_height',
    'video_tag_id',
]
item_string_cate_cols = [
    'video_type'
]
user_num_cols = [
    'follow_user_num',
    'fans_user_num',
    'friend_user_num',
    'register_days',
]
user_int_cate_cols = [
    'user_id',
    'is_lowactive_period',
    'is_live_streamer',
    'is_video_author',
    # 'onehot_feat0',
    # 'onehot_feat1',
    # 'onehot_feat2',
    # 'onehot_feat3',
    # 'onehot_feat4',
    # 'onehot_feat5',
    # 'onehot_feat6',
    # 'onehot_feat7',
    # 'onehot_feat8',
    # 'onehot_feat9',
    # 'onehot_feat10',
    # 'onehot_feat11',
    # 'onehot_feat12',
    # 'onehot_feat13',
    # 'onehot_feat14',
    # 'onehot_feat15',
    # 'onehot_feat16',
    # 'onehot_feat17',
]
user_string_cate_cols = [
    'user_active_degree',
    'follow_user_num_range',
    'fans_user_num_range',
    'friend_user_num_range',
    'register_days_range',

]

# Two-Tower

In [12]:
import sys
from pathlib import Path

current_dir = Path(Path.cwd()).resolve()
parent_current_dir = str(current_dir.parent)
print(f"{parent_current_dir} is add!")
sys.path.append(parent_current_dir)

/Users/kakao/study/RecModel is add!

In [13]:
from src.utils.custom_dataset import TwoTowerDataset
from src.model.TwoTower import TowerModel, TwoTower
from src.lit_model.lit_TwoTower import LitTwoTower

In [14]:
user_cate_cols = user_int_cate_cols + user_string_cate_cols
print(">> [user cate col]")
for user_cate_col in user_cate_cols:
    num_unique = train_data[user_cate_col].nunique()
    print(f"{user_cate_col}.nunique() = {num_unique}")
    if num_unique == 1:
        user_cate_cols.remove(user_cate_col)

>> [user cate col]
user_id.nunique() = 1354
is_lowactive_period.nunique() = 1
is_video_author.nunique() = 2
user_active_degree.nunique() = 4
follow_user_num_range.nunique() = 8
fans_user_num_range.nunique() = 4
friend_user_num_range.nunique() = 5
register_days_range.nunique() = 6

In [15]:
item_cate_cols = item_int_cate_cols + item_string_cate_cols
print(">> [item cate col]")
for item_cate_col in item_cate_cols:
    num_unique = train_data[item_cate_col].nunique()
    print(f"{item_cate_col}.nunique() = {num_unique}")
    if num_unique == 1:
        item_cate_cols.remove(item_cate_col)

>> [item cate col]
video_id.nunique() = 2499
video_width.nunique() = 43
video_height.nunique() = 78
video_tag_id.nunique() = 331
video_type.nunique() = 1

In [16]:
for cols in [user_num_cols, user_cate_cols, item_num_cols, item_cate_cols]:
    for col in cols:
        if col not in train_data.columns:
            print(f"{col} is not in data.")

follow_user_num is not in data.

In [17]:
user_num_cols.remove("follow_user_num")

In [18]:
for cols in [user_num_cols, user_cate_cols, item_num_cols, item_cate_cols]:
    for col in cols:
        if col not in train_data.columns:
            print(f"{col} is not in data.")

In [19]:
label = "watch_ratio"

In [20]:
two_tower_dataset = TwoTowerDataset(
    train_data,
    user_num_cols,
    item_num_cols,
    user_cate_cols,
    item_cate_cols,
    label
    )

/Users/kakao/study/RecModel/src/utils/custom_dataset.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_cate[user_cate_col] = self.user_cate[user_cate_col].map(
/Users/kakao/study/RecModel/src/utils/custom_dataset.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_cate[user_cate_col] = self.user_cate[user_cate_col].map(
/Users/kakao/study/RecModel/src/utils/custom_dataset.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_cate[user_cate_col] = self.user_cate[user_cate_col].map(
/Users/kakao/study/RecModel/src/utils/custom_dataset.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_cate[user_cate_col] = self.user_cate[user_cate_col].map(
/Users/kakao/study/RecModel/src/utils/custom_dataset.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_cate[user_cate_col] = self.user_cate[user_cate_col].map(
/Users/kakao/study/RecModel/src/utils/custom_dataset.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_cate[user_cate_col] = self.user_cate[user_cate_col].map(
/Users/kakao/study/RecModel/src/utils/custom_dataset.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.item_cate[item_cate_col] = self.item_cate[item_cate_col].map(

In [21]:
print(">> example of Two-Tower dataset")
two_tower_dataset[0]

>> example of Two-Tower dataset

((tensor([0, 0, 0, 0, 0, 0, 0, 0], dtype=torch.int32),
  tensor([  0.,   0., 186.])),
 (tensor([0, 0, 0, 0], dtype=torch.int32),
  tensor([10465., 15358., 14970., 15258., 14469.])),
 tensor(0.8439))

In [22]:
user_vocab_size = {col: train_data[col].nunique() for col in user_cate_cols}
item_vocab_size = {col: train_data[col].nunique() for col in item_cate_cols}

embedding_dim = 128

user_first_in_features = embedding_dim * len(user_cate_cols) + len(user_num_cols)
user_layer_dims = [(user_first_in_features, 128), (128, 64)]
item_first_in_features = embedding_dim * len(item_cate_cols) + len(item_num_cols)
item_layer_dims = [(item_first_in_features, 128), (128, 64)]


user_tower_model = TowerModel(
    embedding_vocab_size=user_vocab_size,
    embedding_dim=embedding_dim,
    num_continuous_feature=len(user_num_cols),
    layer_dims=user_layer_dims
)

item_tower_model = TowerModel(
    embedding_vocab_size=item_vocab_size,
    embedding_dim=embedding_dim,
    num_continuous_feature=len(item_num_cols),
    layer_dims=item_layer_dims
)

In [23]:
two_tower = TwoTower(user_tower_model, item_tower_model)

In [24]:
import argparse
import torch

In [35]:
def define_argparser():
    parser = argparse.ArgumentParser()

    parser.add_argument("--project", default="Two-Tower")
    parser.add_argument(
        "--batch_size",
        type=int,
        default=256,
        help="input batch size for training (default: 256)",
    )
    parser.add_argument(
        "--epochs", type=int, default=10, help="number of epochs to train (default: 10)"
    )
    parser.add_argument("--cuda", type=int, default=0, help="0 for cpu -1 for all gpu")
    config = parser.parse_args(args=[]) # add [] in jupyter notebook
    if config.cuda == 0 or torch.cuda.is_available() is False:
        config.cuda = 0

    return config

config = define_argparser()

config

Namespace(project='Two-Tower', batch_size=256, epochs=10, cuda=0)

In [36]:
lit_two_tower = LitTwoTower(two_tower, config)

In [37]:
from torch.utils.data import random_split, DataLoader

In [38]:
train_ratio = 0.8

seed = torch.Generator().manual_seed(42)
train_dataset, valid_dataset = random_split(
    two_tower_dataset, [train_ratio, 1.0 - train_ratio], generator=seed
)

In [39]:
train_loader = DataLoader(train_dataset, batch_size=config.batch_size)
valid_loader = DataLoader(valid_dataset, batch_size=config.batch_size)

In [40]:
import pytorch_lightning as pl

In [41]:
early_stopping_callback = pl.callbacks.EarlyStopping(
    monitor="validation/loss", mode="min", patience=3
)

trainer = pl.Trainer(
    log_every_n_steps=10,
    max_epochs=config.epochs,
    deterministic=True,
    callbacks=[early_stopping_callback],
    accelerator='cpu'
)

GPU available: True (mps), used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs
/Users/kakao/.pyenv/versions/3.10.12/envs/RecSys/lib/python3.10/site-packages/pytorch_lightning/trainer/setup.py:201: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

In [42]:
trainer.fit(model=lit_two_tower, train_dataloaders=train_loader, val_dataloaders=valid_loader)

Missing logger folder: /Users/kakao/study/RecModel/notebook/lightning_logs

  | Name         | Type             | Params
--------------------------------------------------
0 | model        | TwoTower         | 214 K
1 | loss_fn      | MSELoss          | 0
2 | train_metric | MeanSquaredError | 0
3 | valid_metric | MeanSquaredError | 0
4 | test_metric  | MeanSquaredError | 0
--------------------------------------------------
214 K     Trainable params
0         Non-trainable params
214 K     Total params
0.858     Total estimated model params size (MB)

Epoch 9: 100%|██████████| 537/537 [00:06<00:00, 86.49it/s, v_num=0, train/loss=0.890, validation/loss=1.550, validation/metric=1.550, train/metric=1.550]

`Trainer.fit` stopped: `max_epochs=10` reached.

Epoch 9: 100%|██████████| 537/537 [00:06<00:00, 86.41it/s, v_num=0, train/loss=0.890, validation/loss=1.550, validation/metric=1.550, train/metric=1.550]